.about {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100vw;
    left: 100vw;
    overflow: hidden;
    background: url("../media/Independence_Hall.jpg");
  }
  .bio-paragraph>p {
    font-family: 'Lato', sans-serif;
  }
  .container {
    padding: 0px 150px 0px 150px;
  }
  .name-pic-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
  }
  .name-pic-div>h1 {
    margin-bottom: -15px;
    font-size: 2.5em;
  }
  .name-pic-div>h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .name-pic-div>img {
    border-radius: 5%;
    width: 150px;
  }
  
  td {
    font-family: 'Lato', sans-serif;
  }
  
  hr {
    background-color: #444;
    height: 1px;
    margin: 0px 10px 25px 0px;
  }
  
  .progress-bar {
    background-color: #222;
    color: black;
    height: 15px;
    border-radius: 5px;
  }
  .progress-bar-design {
    background-color: maroon;
  }
  