/*Contact----------------------------------------*/
#contact {
    background-color: #222;
 
}
.contact {
    width: 100%;
    color: #9d9d9d;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 100%;
  }
  
  .contact-title {
    margin-bottom: 25px;
    display: block;
    width: 100%;
    margin: 30px;
    text-align: center;
    color: white;
  }
  .form-area {
    padding: 0px 40px 60px;
    border-radius: 5px;
  }
  .map-div {
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
  }