/* 
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
 */
body,
html {
  color: black;
  font-family: 'Quicksand', sans-serif;
  background: url("../media/Independence_Hall.jpg");
  background-size: cover;
  overflow-x: hidden;
  height: 100%;
}
a:hover {
  text-decoration: none;
}
p {
  font-family: 'Lato', sans-serif;
}
.nav-column {
  padding-left: 30px;
}
.nav>a {
  margin: 15px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
a>hr {
  margin: -2px;
  height: 1px;
  background-color: #444;
  width: 0px;
  transition: width 0.5s ease-in-out;
}

.nav-column>p {
  font-size: 15px;
  margin: -1px;
}

.logo-title {
  width: 100%;
  font-family: 'Monoton', cursive;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 10px;
}

#logo-title {
  width: 50%;
  min-width: 80px;
}
.right-column {
  padding-top: 30px;
  padding-bottom: 25px;
  min-height: 92vh;
  overflow: -webkit-paged-x;
}
.icons {
  margin: auto;
  position: relative;
  font-size: 1.8em !important;
  letter-spacing: .2em;
  color: white;
}
i:hover {
  color: #D2745F;
}

.bottom-info {
  background-color: #444;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.return-div {
  height: 100px;
  background-color: #222;
  text-align: center;
  position: relative;
}
.return-div>button {
  width: 55px;
  height: 55px;
  margin-top: 25px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #444;
  color: white;
}

.col-lg-7 {
  min-width: 400px;
}
.col-lg-4 {
  min-width: 300px;
}