.navbar-brand {
    margin-left: 200px;
}
.nav-item {
    margin: 10px;
    font-size: 20px;
}
.ml-auto {
    margin-right: 200px;
}
.services-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.service-btn {
    margin: 0px 20px 0px 20px;
}
.media-btn {
    margin: 0px 20px 0px 20px;
}