.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100% !important;
}

.item {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  height: 140px;
  width: 140px;
  border: 3px solid #D1D1D1;
  color: #444;
  border-radius: 2px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}
.item>a {
  margin-bottom: -10px;
}
.item:hover {
  transform: translateY(-15px) !important;
  box-shadow: 0px 10px 10px #888;
}

.more-info {
  height: 0px;
  margin-top: 20px;
  background-color: #444;
  color: white;
  width: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  height: 65%;
  
}

.project-img>img {
  margin-top: 20px;
  max-width: 100%;
  max-height: 80%;
  border-radius: 4px;
  transition: transform 0.5s ease-in-out;
  transform: translateY(-15px) !important;
}

.project-info {
  text-align: center;
  height: 40%;
  width: 100%;
  background-color: #666;
  padding-bottom: 20px;
  color: white;
}
.project-info>h4 {
  font-family: 'Lato', sans-serif !important;
}

.media-container {
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
}
.media-description {
  padding: 30px;
}

.media-iframe {
  height: 300px;
  width: 450px;
  outline: none;
}
iframe.video {
  position: relative;
}