html, body {
    width: 100vw;
    overflow-x: hidden;
}

.about {
    background-color: white;
    margin-top: 50px;
}

.about-services, .media {
    margin-left: 100px;
    margin-right: 100px;
    height: 100%;
    overflow: hidden;
}
.navbar-brand {
    margin-left: 200px;
}
.ml-auto {
    margin-right: 200px;
}
.media {
    height: 500px;
    border: 1px solid black;
}
