.testimonial-section {
    height: 375px;
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.testimonials {
    color: #D4D4D4;
}
.item {
    height: 100%;
}
.banner-image {
    position: absolute;
    max-width: 100%; 
    height: 500px;
    opacity: .5;
}
.carousel {
    margin-top: 60px;
}
.carousel-inner {
    height: 100%;
}


